<html>
    <head>
        <title>Raphael Junks</title>
        <script src="raphael.js"></script>
        <script type="text/javascript" src="our_script.js"></script>
        <style type="text/css">
            #canvas_container {
                width: 500px;
                border: 1px solid #aaa;
                /*background-color: DarkRed;*/
            }
        </style>
    </head>
    <body>
      <h1> Wut up wut up Raphael and Coffeescript!</h1>
        <div id="canvas_container">
        </div>
    </body>